In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel('../data/customer_retention.xlsx')
df.head()

,customer_id,signup_date,last_active,plan,monthly_fee,usage_score,support_tickets,payment_method,country,churn,tenure_days
0,2,2025-02-11,2025-04-17,Pro,21,47,0,Bank,Venezuela,0,65
1,5,2025-11-01,2025-12-23,Basic,15,27,5,Paypal,China,1,52
2,8,2025-01-28,2025-03-06,Enterprise,60,88,4,Card,Serbia,0,37
3,11,2025-07-18,2025-10-11,Basic,178,52,4,Bank,Chile,1,85
4,12,2025-04-27,2025-12-06,Pro,100,97,13,Paypal,United States,0,223

In [2]:
df.shape

(493, 11)

In [3]:
df.columns

Index(['customer_id', 'signup_date', 'last_active', 'plan', 'monthly_fee',
       'usage_score', 'support_tickets', 'payment_method', 'country', 'churn',
       'tenure_days'],
      dtype='object')

In [4]:
df['churn'].head()

0    0
1    1
2    0
3    1
4    0
Name: churn, dtype: int64

In [5]:
df['churn'].value_counts()

churn
1    260
0    233
Name: count, dtype: int64

In [6]:
df['churn'].value_counts(normalize=True) * 100

churn
1    52.738337
0    47.261663
Name: proportion, dtype: float64

In [7]:
df['churn_label'] = df['churn'].map({0: 'Retained', 1: 'Churned'})
df[['churn', 'churn_label']].head()

   churn churn_label
0      0    Retained
1      1     Churned
2      0    Retained
3      1     Churned
4      0    Retained

In [8]:
churn_rate = round(df['churn'].mean() * 100, 2)
churn_rate

np.float64(52.74)

In [9]:
revenue_lost = df[df['churn'] == 1]['monthly_fee'].sum()
revenue_lost

np.int64(27357)

In [10]:
df.groupby('churn_label')['tenure_days'].mean()

churn_label
Churned     119.638462
Retained    124.553648
Name: tenure_days, dtype: float64

In [11]:
df.groupby('churn_label')['usage_score'].mean()

churn_label
Churned     51.261538
Retained    48.751073
Name: usage_score, dtype: float64

In [12]:
df.groupby('churn_label')['support_tickets'].mean()

churn_label
Churned     6.850000
Retained    7.515021
Name: support_tickets, dtype: float64

In [13]:
df.groupby('plan')['churn'].mean().sort_values(ascending=False)

plan
Enterprise    0.564706
Basic         0.508772
Pro           0.506579
Name: churn, dtype: float64

In [14]:
df.groupby('payment_method')['churn'].mean().sort_values(ascending=False)

payment_method
Bank      0.560811
Card      0.538012
Paypal    0.488506
Name: churn, dtype: float64

In [15]:
high_risk_customers = df[
    (df['usage_score'] < 40) &
    (df['support_tickets'] > 3) &
    (df['tenure_days'] < 90)
]

high_risk_customers.head()

,customer_id,signup_date,last_active,plan,monthly_fee,usage_score,support_tickets,payment_method,country,churn,tenure_days,churn_label
1,5,2025-11-01,2025-12-23,Basic,15,27,5,Paypal,China,1,52,Churned
21,43,2025-07-16,2025-07-18,Basic,188,34,9,Paypal,Colombia,0,2,Retained
35,64,2025-07-06,2025-07-12,Pro,35,11,7,Card,Argentina,0,6,Retained
37,69,2025-11-06,2025-11-18,Basic,199,35,15,Card,Ukraine,0,12,Retained
46,81,2025-10-31,2025-12-19,Basic,45,34,13,Bank,Bulgaria,0,49,Retained

In [16]:
high_risk_customers.shape

(76, 12)

In [17]:
high_risk_customers[['plan', 'monthly_fee', 'usage_score', 'support_tickets', 'tenure_days']].head()

     plan  monthly_fee  usage_score  support_tickets  tenure_days
1   Basic           15           27                5           52
21  Basic          188           34                9            2
35    Pro           35           11                7            6
37  Basic          199           35               15           12
46  Basic           45           34               13           49